﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ESC";
}

<div class="text-center">
    <h1 class="display-4">ESC <em>(Embarrasingly Simple Calculator)</em></h1>
</div>

<div class="row">
    <div class="col-xs-3">
        <h2>Additions</h2>
        <ul>
            <li>
                2 + 2 = <strong>@TestingPipeline.Lib.Calculator.add(2, 2)</strong>
            </li>
            <li>
                3 + 3 = <strong>@TestingPipeline.Lib.Calculator.add(3, 3)</strong>
            </li>
            <li>
                4 + 4 = <strong>@TestingPipeline.Lib.Calculator.add(4, 4)</strong>
            </li>
            <li>
                5 + 2 = <strong>@TestingPipeline.Lib.Calculator.add(5, 2)</strong>
            </li>
            <li>
                9988 + 12233 = <strong>@TestingPipeline.Lib.Calculator.add(9988, 12233)</strong>
            </li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h2>Substractions</h2>
        <ul>
            <li>
                2 - 2 = <strong>@TestingPipeline.Lib.Calculator.substract(2, 2)</strong>
            </li>
            <li>
                3 - 4 = <strong>@TestingPipeline.Lib.Calculator.substract(3, 4)</strong>
            </li>
            <li>
                8 - 4 = <strong>@TestingPipeline.Lib.Calculator.substract(8, 4)</strong>
            </li>
            <li>
                5 - 2 = <strong>@TestingPipeline.Lib.Calculator.substract(5, 2)</strong>
            </li>
            <li>
                9988 - 12233 = <strong>@TestingPipeline.Lib.Calculator.substract(9988, 12233)</strong>
            </li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h2>Multiplications</h2>
        <ul>
            <li>
                2 * 2 = <strong>@TestingPipeline.Lib.Calculator.multiply(2, 2)</strong>
            </li>
            <li>
                3 * 4 = <strong>@TestingPipeline.Lib.Calculator.multiply(3, 4)</strong>
            </li>
            <li>
                8 * -4 = <strong>@TestingPipeline.Lib.Calculator.multiply(8, -4)</strong>
            </li>
            <li>
                5 * 2 = <strong>@TestingPipeline.Lib.Calculator.multiply(5, 2)</strong>
            </li>
            <li>
                99 * 12 = <strong>@TestingPipeline.Lib.Calculator.multiply(99, 12)</strong>
            </li>
        </ul>
    </div>
    <div class="col-xs-3">
        <h2>Integer Division</h2>
        <ul>
            <li>
                4 / 2 = <strong>@TestingPipeline.Lib.Calculator.integerDivision(4, 2)</strong>
            </li>
            <li>
                9 / 8 = <strong>@TestingPipeline.Lib.Calculator.integerDivision(9, 8)</strong>
            </li>
            <li>
                12 / -3 = <strong>@TestingPipeline.Lib.Calculator.integerDivision(12, -3)</strong>
            </li>
            <li>
                567 / 23 = <strong>@TestingPipeline.Lib.Calculator.integerDivision(567, 23)</strong>
            </li>
            <li>
                99 / 12 = <strong>@TestingPipeline.Lib.Calculator.integerDivision(99, 12)</strong>
            </li>
        </ul>
    </div>
</div>
